/* tina/editor-styles.css */
textarea[name*="html"],
textarea[name*="text"] {
  background: #1e1e1e !important;
  color: #ddd !important;
  font-size: 14px !important;
  line-height: 1.6 !important;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", monospace !important;
}

label[for*="html"],
label[for*="text"] {
  /* your label styles */
}

.flex.items-baseline {
  border-right: 1px solid rgb(225 221 236 / var(--tw-border-opacity, 1));
  background: white;
}
