main {
  margin: auto;
  width: 960px;
}
.blog-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (width > 767px) {
  .blog-item {
    flex-basis: calc(50% - var(--gap) / 2);
  }
}
.blog-item a {
  background: initial;
  -webkit-text-fill-color: initial;
  color: var(--black);
  text-decoration: initial;
  -webkit-background-clip: initial;
}
.blog-content .title,
.blog-item h4.title {
  background: -webkit-linear-gradient(130deg, var(--color-5), var(--color-1));
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  -webkit-background-clip: text;
  margin-bottom: -0.3rem;
  padding-bottom: 0.3em;
}
.blog-item h4.title {
  position: relative;
}
.blog-item h4.title::before {
  display: block;
  position: absolute;
  z-index: -1;
  filter: blur(3rem);
  inset: 0;
  background: white;
  content: "";
}
.blog-item .date {
  margin: 0 auto 1rem;
  text-align: center;
}
.blog-item * {
  transition: 0.2s ease;
  text-decoration: none;
}
.blog-list li:first-child {
  flex-basis: 100%;
  margin-bottom: 1rem;
  text-align: center;
}
.blog-list li:first-child .title {
  font-size: 2.369rem;
}
.blog-item a {
  display: block;
}
.title {
  margin: 0;
  color: rgb(var(--black));
  line-height: 1;
}
.date {
  margin: 0;
  color: rgb(var(--gray));
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: var(--gap);
  a {
    margin: 0 0.5em;
  }
}
@media (max-width: 720px) {
  .blog-list {
    gap: 0.5em;
  }
  .blog-item {
    width: 100%;
    text-align: center;
  }
  .blog-list li:first-child {
    margin-bottom: 0;
  }
  .blog-list li:first-child .title {
    font-size: 1.563em;
  }
}
main {
  margin: auto;
  width: 100%;
  max-width: 1400px;
}
.blog-img,
.hero-image {
  position: relative;
  margin: auto;
  padding: var(--padding);
  aspect-ratio: 4 / 3;
  max-height: 70vh;
}
.blog-img::before,
.blog-img::after,
.hero-image::before,
.hero-image::after {
  position: absolute;
  z-index: -1;
  filter: blur(6vw);
  inset: calc(0vw - var(--padding) / 2);
  background: image-set(attr(data-src));
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}
.blog-img::after,
.hero-image::after {
  opacity: 0.5;
  mix-blend-mode: plus-lighter;
  background: linear-gradient(130deg, var(--color-1), var(--color-5));
}
.blog-img {
  margin-bottom: 1rem;
  padding: 0;
  max-height: calc(70vh - (var(--padding) * 2));
}
.blog-img img,
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.blog-img::before,
.blog-img::after {
  inset: calc(0vw - var(--padding) / 2);
}
.summary {
  margin: 0 auto var(--padding);
  max-width: 600px;
}
.blog-content {
  margin: 0 auto var(--padding);
  padding: 1em;
  width: 720px;
  max-width: calc(100% - 2em);
  color: rgb(var(--gray-dark));
}
.blog-content .title {
  margin: 0 auto 1rem;
  padding: 1em 0;
  max-width: 600px;
  line-height: 1;
  text-align: center;
}
.blog-content .title h1 {
  margin: 0 0 0.5em 0;
}
.blog-content .date {
  margin-bottom: 0.5em;
  color: rgb(var(--gray));
}
.last-updated-on {
  font-style: italic;
}
