/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: #000000;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
  --font-sans: Arial, system-ui, sans-serif;
  --font-serif: "DM Serif Text", Georgia, serif;
  --font-cursive: "Oooh Baby", Zapfino, cursive;
  --color-1: #a758b2;
  --color-2: #7d78ba;
  --color-3: #5499c2;
  --color-4: #2ab9ca;
  --color-5: #00dad2;
  --button-padding: 0.75rem 1rem;
  --gap: 60px;
  font-family: Arial, system-ui, sans-serif;
}
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/DMSerifText-Regular.woff2") format("woff2");
  font-family: "DM Serif Text";
  font-display: swap;
}
@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/DMSerifText-Italic.woff2") format("woff2");
  font-family: "DM Serif Text";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/OoohBaby-Regular.woff2") format("woff2");
  font-family: "Oooh Baby";
  font-display: swap;
}
* {
  min-width: 0;
}
body {
  margin: auto;
  padding: 0;
  font-family: var(--font-sans);
}
figure {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1.1;
  font-family: var(--font-serif);
}
p {
  line-height: 1.6;
}
.font-serif {
  font-family: var(--font-serif);
}
.font-cursive {
  font-family: var(--font-cursive);
}
.font-bold {
  font-weight: 700;
}
.text-white {
  color: #fff;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}
.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}
.text-8xl {
  font-size: 6rem;
  line-height: 1;
}
.text-9xl {
  font-size: 8rem;
  line-height: 1;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pt-7 {
  padding-top: 1.75rem;
}
.pt-8 {
  padding-top: 2rem;
}
.pt-9 {
  padding-top: 2.25rem;
}
.pt-10 {
  padding-top: 2.5rem;
}
.pt-11 {
  padding-top: 2.75rem;
}
.pt-12 {
  padding-top: 3rem;
}
.pt-14 {
  padding-top: 3.5rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pb-7 {
  padding-bottom: 1.75rem;
}
.pb-8 {
  padding-bottom: 2rem;
}
.pb-9 {
  padding-bottom: 2.25rem;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.pb-11 {
  padding-bottom: 2.75rem;
}
.pb-12 {
  padding-bottom: 3rem;
}
.pb-14 {
  padding-bottom: 3.5rem;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.m-auto {
  margin: auto;
}

section {
  box-sizing: border-box;
  --padding: 100px;
  padding: var(--padding);
}
@media (max-width: 1000px) {
  :root {
    --gap: 7.5vw;
  }
  section {
    --padding: 10vw;
  }
}
@media (min-width: 800px) {
  section.max-width-narrow {
    /* restrict inner content to 600px wide */
    padding-right: calc(50vw - 300px);
    padding-left: calc(50vw - 300px);
  }
}
@media (min-width: 1100px) {
  section.max-width-medium {
    /* restrict inner content to 900px wide */
    padding-right: calc(50vw - 450px);
    padding-left: calc(50vw - 450px);
  }
}
@media (min-width: 1300px) {
  section.max-width-wide {
    /* restrict inner content to 1200px wide */
    padding-right: calc(50vw - 600px);
    padding-left: calc(50vw - 600px);
  }
}
section a:not(.button) {
  background: -webkit-linear-gradient(130deg, var(--color-4), var(--color-2));
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  -webkit-background-clip: text;
}
section a:not(.button):hover {
  background: -webkit-linear-gradient(130deg, var(--color-5), var(--color-1));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
section > *:not(.background-video) {
  /* max-width: 800px; */
}

/*   S E C T I O N   S T Y L I N G
 *   =============================
 */

.section-wrapper {
  position: relative;
}
.section-wrapper .background-video {
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* .button {
    @apply cursor-pointer rounded border-2 px-5 py-2 text-sm font-semibold;
  } */
.button + .button {
  margin-left: 1rem;
}
.button {
  --border-width: 1px;
  --border-radius: 8px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  background: linear-gradient(to right, var(--color-1) 30%, var(--color-5)),
    linear-gradient(to right, var(--color-1), var(--color-5) 70%);
  background-position: var(--border-radius) 0, var(--border-radius) 100%;
  background-size: calc(100% - var(--border-radius) - var(--border-radius))
    var(--border-width);
  background-repeat: no-repeat;
  padding: var(--button-padding);
  color: var(--black);
  text-decoration: none;
}
.has-background .button {
  --color-1: white;
  --color-5: white;
  color: white;
}

.button:before,
.button:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--border-radius);
  content: "";
}
.button:before {
  left: 0;
  border: var(--border-width) solid var(--color-1);
  border-right-color: transparent;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.button:after {
  right: 0;
  border: var(--border-width) solid var(--color-5);
  border-left-color: transparent;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.sr-only {
  position: absolute !important;
  margin: 0;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
.social-links {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}
.social-links a {
  color: var(--black);
  text-decoration: none;
}
.social-links a:hover {
  color: var(--color-3);
}

/*   S L I D E T E X T
 *   =================
 */

.slidetext {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: -0.5em;
  height: 1em;
}
.slidetext-word {
  display: block;
  opacity: 0;
  filter: blur(0.1em);
  transition: all 2s cubic-bezier(0.5, 0, 0.5, 1);
  line-height: 0;
}
.slidetext-word.reveal {
  opacity: 1;
  filter: blur(0);
}

/*   G A L L E R Y   S L I D E S H O W
 *   =================================
 */

/* Hide all slides */
.gallery-grid figure {
  opacity: 0;
  z-index: 0;
  filter: blur(100px) brightness(300%);
  transition: opacity 4s 2s ease-in-out, filter 6s ease-in-out;
}

/* Show only the current slide */
.gallery-grid figure.current {
  opacity: 1;
  z-index: 1;
  filter: blur(0);
  transition: opacity 3s ease-in-out;
}

/* Optional: Make slideshow images fill the container */
.gallery-grid {
  position: relative;
  width: 100%;
  height: 100%; /* or whatever height you want */
}

.gallery-grid figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*   G A L L E R Y / T E X T   L A Y O U T
 *   =====================================
 */

.gallery-text {
  position: relative;
}
.gallery-text:before {
  position: absolute;
  z-index: -1;
  filter: blur(100px);
  inset: -50px 0 0 0;
  background-image: linear-gradient(130deg, var(--color-1), var(--color-5));
  content: "";
}
@media (min-width: 768px) {
  .gallery-text {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: var(--gap); /* Space between columns */
  }
  .gallery-text > *:not(.background-video) {
    grid-column: 2; /* Second column */
    /* Each subsequent div gets its own row automatically */
  }
  .gallery-text > *:nth-child(1):not(.background-video),
  .gallery-text:has(.background-video) > *:nth-child(2) {
    grid-row: 1 / -1; /* Span all rows (stretches to match height) */
    grid-column: 1; /* First column */
  }
}

.nav-cushion {
  margin-top: 100px;
}

/*   T E X T   I M A G E
 *   ===================
 */

.text-image__content {
  display: flex;
  justify-content: stretch;
  gap: var(--gap);
  width: 100%;
  height: 100%;
}
.text-image__content > * {
  flex-basis: 50%;
}
.text-image__image {
  position: relative;
  overflow: hidden;
}
.text-image__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.text-image__text h3 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-family: var(--font-cursive);
}
.text-image__text h2 {
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(316deg, var(--color-1), var(--color-5));
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-family: var(--font-serif);
  -webkit-background-clip: text;
}
.text-image__text p {
  margin: 0 0 1rem;
}
.text-image__text p:last-child {
  margin-bottom: 0;
}

/*   T E X T    S I N G L E
 *   ======================
 */

.text-single {
}
.text-single h3 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-family: var(--font-cursive);
  text-align: center;
}
.text-single h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: var(--font-serif);
  text-align: center;
}

/*   Q U O T E
 *   =========
 */

.quote blockquote {
  background: -webkit-linear-gradient(316deg, var(--color-1), var(--color-5));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-wrap: balance;
}
.quote__left,
.quote__right {
  flex-grow: 1;
  flex-basis: 46px;
  opacity: 0.5;
  width: 46px;
  min-width: 0;
}
.quote__text {
  flex-basis: fit-content;
  font-size: 3rem;
  font-family: var(--font-cursive);
  text-align: center;
}

/*   C T A
 *   =====
 */

.cta {
  position: relative;
}
.cta h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: var(--font-serif);
}

/*   L A Y O U T S
 *   =============
 */

section.contain {
  margin: 0 auto;
  padding-right: var(--padding);
  padding-left: var(--padding);
  max-width: 1200px;
}
section.contain.max-width-narrow {
  max-width: 600px;
}
section.contain.max-width-medium {
  max-width: 900px;
}
section.contain.max-width-wide {
  max-width: 1200px;
}
section.contain.max-width-full {
  max-width: 100%;
}
.half-left {
  display: block;
  margin: 0 auto 0 0;
  width: 50%;
}
.half-right {
  display: block;
  margin: 0 0 0 auto;
  width: 50%;
}

/*   E F F E C T S
 *   =============
 */

.under-glow {
  position: relative;
}
.under-glow:before {
  position: absolute;
  z-index: -1;
  filter: blur(100px);
  inset: 0;
  background-image: linear-gradient(130deg, var(--color-1), var(--color-5));
  content: "";
}
